/* .Container .Modal{
    display: flex;
    margin-left: 200px !important;
    justify-content: center;
} */

.Modal{
    color: aliceblue;
   display: flex;
   margin-left: 40%;
   align-items: center !important;
   align-content: center !important; 
   width: 600px !important;
   height: 500px !important;
   padding: 28px !important;
}

.modalHeader{
    display: flex;
    padding: 5px 0px !important ;
    background-color: #1E1E1E;
    padding: 10px !important;
}

.labelModal{
    margin-top: 10px;
    margin-left: 20px ;
}

.titleModal{
    font-size: 28px !important;
    margin-left: 20px;
    padding: 10px !important;
}

.inputModal{
    margin-top: 0%;
    margin-left: 20px ;
    border-radius: 0px 5px 5px;
    width:480px !important;
    padding: 7px !important;
    margin: 0px 28px 28px 28px !important;
}

.modalFooter{
    background-color: #1E1E1E !important;
    padding: 10px !important;
}

.modalBody{
    background-color: #1E1E1E;
}

.modalHeader .btn-close{
    padding-right:50px !important ;
}

.btnModal {
    color: #fff;
    display: flex;
    margin-right: 20px !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    width: 120px;
    justify-content: center;
    font-size: 15px;
    border: none;
    text-decoration: none;
    background: linear-gradient(0deg, #5A00CB 0%, #2D0065 100%);
    padding: 4px !important;
    border-radius: 5px;
    border: solid 1px #2D0065 !important;
    cursor: pointer;
}
.btnModalFecha {
    color: #fff;
    display: flex;
    margin-right: 5px !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    width: 120px;
    justify-content: center;
    font-size: 15px;
    border: none;
    text-decoration: none;
    background: none;
    padding: 4px !important;
    border-radius: 5px;
    border: solid 1px #fff !important;
    cursor: pointer;
}

.btnModal :hover {
    background: linear-gradient(0deg, #2D0065 0%, #5A00CB 100%);
    color: #fff;
}
.btnModalFecha :hover {
    background-color: linear-gradient(0deg, #FF0000 0%, #8B0000 100%) !important;
    color: #fff;
}
.BtnSelecionarEventos {
    color: #fff;
    display: flex;
    margin-top: 70px !important;
    width: 150px;
    justify-content: center;
    font-size: 18px;
    border: none;
    text-decoration: none;
    background: linear-gradient(0deg, #5A00CB 0%, #2D0065 100%);
    padding: 6px !important;
    border-radius: 10px;
    cursor: pointer;
}

.BtnSelecionarEventos:hover {
    background: linear-gradient(0deg, #2D0065 0%, #5A00CB 100%);
    color: #fff;
}
